Repository VirtusLab/git-machete-intellij-plugin, pull requests merged in 2020-09, with the labels that each got.

#553 Allow for multiple reference CLI versions for backend integration tests
  DEVELOPMENT.md
  Dockerfile
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/integration/IntegrationTestUtils.java
  backendImpl/src/test/resources/reference-cli-version.properties
Labels: backend, minor, testing

#554 Bump IntelliJ version to 2020.2.1
  .circleci/config.yml
  build.gradle
Labels: build, minor

#573 Prevent a possible race condition in UI test for discover + apply minor improvements to UI tests
  scripts/run-ui-tests
  uiTests/src/test/java/com/virtuslab/gitmachete/uitest/UITestSuite.java
  uiTests/src/test/resources/project.rhino.js
  version.gradle
Labels: bug, minor, testing

#574 Provide UI test for sliding out a root branch
  uiTests/src/test/java/com/virtuslab/gitmachete/uitest/UITestSuite.java
  uiTests/src/test/resources/project.rhino.js
Labels: frontend-actions, testing

#575 In discover, pick `develop` as a fixed root if `master` isn't present
  .circleci/config.yml
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/integration/IntegrationTestUtils.java
  backendImpl/src/test/resources/reference-cli-version.properties
Labels: discover, ux

#585 Bump IntelliJ version and Docker CI image version
  .circleci/config.yml
  build.gradle
Labels: build, ci, minor

#586 Mark machete file as dirty and refresh it on every graph refresh
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/EnhancedGraphTable.java
Labels: bug, frontend-editor, ux

#588 Consider `main` branch as a fixed root in discovery alongside `master` and `develop`
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  backendImpl/src/test/resources/reference-cli-version.properties
  frontendUiRootImpl/build.gradle
Labels: discover, minor

#587 Force repository and Vfs update after current branch reset
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseResetBranchToRemoteAction.java
Labels: bug, frontend-actions

#591 Simplify the release CI config
  .circleci/config.yml
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  version.gradle
Labels: ci
