Repository VirtusLab/git-machete-intellij-plugin, pull requests merged in 2020-12, with the labels that each got.

#650 Bump IntelliJ + dependency versions
  .circleci/config.yml
  build.gradle
  config/checker/com.intellij.astub
  frontendUiRootImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/GitMacheteErrorHandler.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/cell/BranchOrCommitCellRendererComponent.java
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
  scripts/run-ui-tests
  uiTests/build.gradle
  version.gradle
Labels: build, ci

#654 Print output from process in BaseGitRepositoryBackedIntegrationTestSuite#prepareRepoFromScript if not completed within 5 seconds
  testCommon/src/test/java/com/virtuslab/gitmachete/testcommon/BaseGitRepositoryBackedIntegrationTestSuite.java
Labels: bug, testing

#653 Prohibit current branch double click checkout
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/EnhancedGraphTable.java
Labels: bug, frontend-ui, ux

#659 Apply misc build, CI and testing improvements
  .circleci/config.yml
  build.gradle
  scripts/enforce-onupdate-call-super-if-overridden
  scripts/run-pre-build-checks
  scripts/run-ui-tests
  src/test/java/com/virtuslab/archunit/ClassStructureTestSuite.java
  uiTests/build.gradle
Labels: build, ci, testing

#655 [frontend][graph-table] Prettify a graph table due to highlighting in IntelliJ 2020.3
  frontendUiApi/src/main/java/com/virtuslab/gitmachete/frontend/ui/api/table/BaseGraphTable.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/EnhancedGraphTable.java
Labels: frontend-graph, frontend-ui, ux

#658 Refresh machete file annotations when repo changed
  frontendFile/src/main/java/com/virtuslab/gitmachete/frontend/file/MacheteFileViewProviderFactory.java
Labels: bug, frontend-editor, minor

#663 Add a subtitle parameter for FetchBackgroundable
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/FetchBackgroundable.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseFastForwardMergeBranchToParentAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseResetBranchToRemoteAction.java
  frontendResourceBundles/src/main/resources/GitMacheteBundle.properties
Labels: bug, frontend-actions, minor, ux

#665 Extract Markdown validation to separate, locally runnable scripts
  .circleci/config.yml
  scripts/validate-markdown-links
  scripts/validate-markdown-tocs
  scripts/validate-markdown-values
Labels: ci, minor

#664 Fix inconsistencies to CLI in discovery algorithm + treat `develop` as root even if `master` present
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  backendImpl/src/test/resources/reference-cli-version.properties
Labels: backend, bug, cli-todo, discover

#671 Prevent spurious CI timeouts on closing the project in UI tests
  scripts/run-ui-tests
  uiTests/src/test/resources/ide.rhino.js
  uiTests/src/test/scala/com/virtuslab/gitmachete/uitest/UITestSuite.scala
Labels: bug, testing
