Repository VirtusLab/git-machete-intellij-plugin, pull requests merged in 2020-04, with the labels that each got.

#173 Partially annotate Vavr APIs to improve IndexChecker guarantees
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteNonRootBranch.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRootBranch.java
  branchLayoutImpl/src/main/java/com/virtuslab/branchlayout/impl/BranchLayoutFileParser.java
  build.gradle
  config/checker/com.intellij.astub
  config/checker/io.vavr.collection.astub
  config/checker/java.util.astub
  config/checker/javax.swing.astub
  config/checkstyle/import_control_prohibit_java_collections.xml
  config/checkstyle/prohibit_java_collections.xml
  config/checkstyle/tree_walker_module_directives.xml
  frontendGraph/src/main/java/com/virtuslab/gitmachete/frontend/graph/repository/RepositoryGraph.java
  frontendGraph/src/main/java/com/virtuslab/gitmachete/frontend/graph/repository/RepositoryGraphBuilder.java
  frontendUi/src/main/java/com/virtuslab/gitmachete/frontend/ui/GitMachetePanel.java
  frontendUi/src/main/java/com/virtuslab/gitmachete/frontend/ui/VcsRootDropdown.java
  frontendUi/src/main/java/com/virtuslab/gitmachete/frontend/ui/cell/BranchOrCommitCellRenderer.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreLocalBranch.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreRepository.java
  version.gradle
Labels: code

#175 Remove dependency injection completely from the project
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/IGitMacheteRepository.java
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/NullRepository.java
  backendImpl/build.gradle
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  backendRoot/build.gradle
  backendRoot/src/main/java/com/virtuslab/gitmachete/backend/root/BackendFactoryModule.java
  backendRoot/src/main/java/com/virtuslab/gitmachete/backend/root/GitMacheteRepositoryBuilder.java
  backendRoot/src/main/java/com/virtuslab/gitmachete/backend/root/GitUtils.java
  backendRoot/src/main/java/com/virtuslab/gitmachete/backend/root/IGitCoreRepositoryFactory.java
  backendRoot/src/main/java/com/virtuslab/gitmachete/backend/root/IGitMacheteRepositoryBuilder.java
  backendRoot/src/main/java/com/virtuslab/gitmachete/backend/root/IGitMacheteRepositoryBuilderFactory.java
  backendRoot/src/test/java/com/virtuslab/gitmachete/backend/integration/GitMacheteStatusTest.java
  backendRoot/src/test/java/com/virtuslab/gitmachete/backend/root/GitMacheteRepositoryBuilder_deriveSyncToParentStatusTest.java
  backendRoot/src/test/java/com/virtuslab/gitmachete/backend/root/TestUtils.java
  build.gradle
  frontendUi/build.gradle
  frontendUi/src/main/java/com/virtuslab/gitmachete/frontend/ui/table/GitMacheteGraphTableManager.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/GitCoreCannotAccessGitDirectoryException.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/GitCoreCannotReadGitFileException.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreRepositoryFactory.java
  gitCoreJGit/build.gradle
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreRepository.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreRepositoryFactory.java
  version.gradle
Labels: code, tech debt

#177 Remove Java collections from a few backend modules
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/IGitMacheteSubmoduleEntry.java
  backendImpl/config/checkstyle/checkstyle.xml
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteSubmoduleEntry.java
  backendRoot/src/main/java/com/virtuslab/gitmachete/backend/root/GitMacheteRepositoryBuilder.java
  branchLayoutImpl/config/checkstyle/checkstyle.xml
  config/checkstyle/prohibit_java_collections.xml
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreSubmoduleEntry.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreSubmoduleEntry.java
  version.gradle
Labels: backend, tech debt

#182 Enforce explicit annotation import in Checker *.astub files
  .circleci/config.yml
  branchLayoutImpl/src/main/java/com/virtuslab/branchlayout/impl/BranchLayoutFileParser.java
  config/checker/com.intellij.astub
  config/checker/io.vavr.collection.astub
  config/checker/javax.swing.astub
  frontendGraph/src/main/java/com/virtuslab/gitmachete/frontend/graph/repository/RepositoryGraphBuilder.java
  scripts/enforce-explicit-annotation-import-in-astubs
  scripts/enforce-version-bump
  version.gradle
Labels: ci, code

#187 Apply minor Checker- and Checkstyle-related fixes + fix SLF4J classpath issues
  build.gradle
  config/checker/com.intellij.astub
  config/checkstyle/prohibit_java_collections.xml
  frontendGraph/src/main/java/com/virtuslab/gitmachete/frontend/graph/repository/RepositoryGraphFactory.java
  frontendUi/src/main/java/com/virtuslab/gitmachete/frontend/ui/GitMachetePanel.java
  frontendUi/src/main/java/com/virtuslab/gitmachete/frontend/ui/table/GitMacheteGraphTable.java
  version.gradle
Labels: code

#192 Reimplement merge-base using RevFilter.MERGE_BASE + reimplement is-ancestor using merge-base comparisons
  backendRoot/src/main/java/com/virtuslab/gitmachete/backend/root/GitMacheteRepositoryBuilder.java
  backendRoot/src/test/java/com/virtuslab/gitmachete/backend/root/GitMacheteRepositoryBuilder_deduceForkPointTest.java
  backendRoot/src/test/java/com/virtuslab/gitmachete/backend/root/GitMacheteRepositoryBuilder_deriveSyncToParentStatusTest.java
  backendRoot/src/test/java/com/virtuslab/gitmachete/backend/root/TestUtils.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreBranch.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreBranch.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreCommit.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreCommitHash.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreRepository.java
  version.gradle
Labels: git-core, performance

#199 Remove CommonDataKeys.EDITOR from GitMacheteGraphTable keys
  frontendUi/src/main/java/com/virtuslab/gitmachete/frontend/ui/table/GitMacheteGraphTable.java
  version.gradle
Labels: bug, frontend

#195 Extract CI pre-build checks into a script suggested as the pre-commit hook
  .circleci/config.yml
  README.md
  build.gradle
  scripts/enforce-binary-compatibility
  scripts/enforce-version-bump
  scripts/git-hooks/machete-pre-rebase
  scripts/prohibit-tab-character
  scripts/run-pre-build-checks
  scripts/utils.sh
  version.gradle
Labels: ci

#200 Make GitMachetePanel extend (rather than delegate to) SimpleToolWindowPanel
  build.gradle
  config/checker/com.intellij.astub
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/BaseRebaseBranchOntoParentAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/CheckOutBranchAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/RebaseCurrentBranchOntoParentAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/RebaseSelectedBranchOntoParentAction.java
  frontendKeys/src/main/java/com/virtuslab/gitmachete/frontend/keys/ActionIDs.java
  frontendUiRoot/src/main/java/com/virtuslab/gitmachete/frontend/ui/root/GitMacheteContentProvider.java
  frontendUiRoot/src/main/java/com/virtuslab/gitmachete/frontend/ui/root/GitMachetePanel.java
  frontendUiTable/src/main/java/com/virtuslab/gitmachete/frontend/ui/table/GitMacheteGraphTableManager.java
  version.gradle
Labels: code, frontend, tech debt

#213 Decouple frontend from backendRoot + move plugin config into top-level Gradle module
  .circleci/config.yml
  README.md
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/IGitMacheteRepositoryFactory.java
  backendRoot/src/main/java/com/virtuslab/gitmachete/backend/root/GitMacheteRepositoryFactory.java
  build.gradle
  frontendUiRoot/build.gradle
  frontendUiTable/build.gradle
  frontendUiTable/src/main/java/com/virtuslab/gitmachete/frontend/ui/table/GitMacheteGraphTableManager.java
  scripts/enforce-binary-compatibility
  src/main/resources/META-INF/plugin.xml
  src/main/resources/META-INF/pluginIcon.svg
  version.gradle
Labels: build

#218 Split frontendDataKeys and frontendActionIds subprojects
  backendRoot/src/test/java/com/virtuslab/gitmachete/backend/integration/GitMacheteStatusTest.java
  backendRoot/src/test/resources/setup-with-multiple-remotes.sh
  config/checkstyle/tree_walker_module_directives.xml
  frontendActionIds/src/main/java/com/virtuslab/gitmachete/frontend/actionids/ActionIds.java
  frontendActions/build.gradle
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/ActionUtils.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/BaseRebaseBranchOntoParentAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/BaseSlideOutBranchAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/CheckOutBranchAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/GitMacheteRepositoryReadyAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/RebaseCurrentBranchOntoParentAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/RebaseSelectedBranchOntoParentAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/SlideOutCurrentBranchAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/SlideOutSelectedBranchAction.java
  frontendDataKeys/build.gradle
  frontendDataKeys/src/main/java/com/virtuslab/gitmachete/frontend/datakeys/DataKeys.java
  frontendUiRoot/build.gradle
  frontendUiRoot/src/main/java/com/virtuslab/gitmachete/frontend/ui/root/GitMachetePanel.java
  frontendUiTable/build.gradle
  frontendUiTable/src/main/java/com/virtuslab/gitmachete/frontend/ui/table/GitMacheteGraphTable.java
  frontendUiTable/src/main/java/com/virtuslab/gitmachete/frontend/ui/table/GitMacheteGraphTableManager.java
  settings.gradle
  version.gradle
Labels: build, code

#222 Use Gradle instead of shell script for deriving version suffix
  .circleci/config.yml
  build.gradle
  scripts/git-hooks/machete-pre-rebase
  scripts/specify-snapshot-revision
  scripts/verify-artifact-contents
  scripts/verify-binary-compatibility
  version.gradle
Labels: build, ci

#225 Instantiate actions for sliding out/rebase current branch declaratively + decouple frontendUiRoot from frontendActions
  config/checkstyle/tree_walker_module_directives.xml
  frontendActionIds/src/main/java/com/virtuslab/gitmachete/frontend/actionids/ActionIds.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/RebaseCurrentBranchOntoParentAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/SlideOutCurrentBranchAction.java
  frontendUiRoot/build.gradle
  frontendUiRoot/src/main/java/com/virtuslab/gitmachete/frontend/ui/root/GitMachetePanel.java
  src/main/resources/META-INF/plugin.xml
  version.gradle
Labels: frontend-ui, tech debt

#234 Bugfix/graph table scrolling
  config/checkstyle/tree_walker_module_directives.xml
  frontendUiTable/src/main/java/com/virtuslab/gitmachete/frontend/ui/table/GitMacheteGraphTableManager.java
  version.gradle
Labels: bug, frontend-ui, ux

#237 Add LICENSE
  LICENSE
  version.gradle
Labels: distribution

#235 Apply static verification for is.../as... downcast methods across the project
  backendApi/build.gradle
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/BaseGitMacheteBranch.java
  build.gradle
  config/checkstyle/tree_walker_module_directives.xml
  frontendActions/build.gradle
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/ActionUtils.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/RebaseSelectedBranchOntoParentAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/SlideOutSelectedBranchAction.java
  frontendGraphApi/build.gradle
  frontendGraphApi/src/main/java/com/virtuslab/gitmachete/frontend/graph/api/elements/IGraphElement.java
  frontendGraphApi/src/main/java/com/virtuslab/gitmachete/frontend/graph/api/items/IBranchItem.java
  frontendGraphApi/src/main/java/com/virtuslab/gitmachete/frontend/graph/api/items/ICommitItem.java
  frontendGraphApi/src/main/java/com/virtuslab/gitmachete/frontend/graph/api/items/IGraphItem.java
  frontendGraphImpl/build.gradle
  frontendGraphImpl/src/main/java/com/virtuslab/gitmachete/frontend/graph/impl/items/BranchItem.java
  frontendGraphImpl/src/main/java/com/virtuslab/gitmachete/frontend/graph/impl/items/CommitItem.java
  frontendGraphImpl/src/main/java/com/virtuslab/gitmachete/frontend/graph/impl/render/RenderPartGenerator.java
  frontendUiTableImpl/build.gradle
  qual/src/main/java/com/virtuslab/qual/gitmachete/backend/api/ConfirmedNonRootBranch.java
  qual/src/main/java/com/virtuslab/qual/gitmachete/backend/api/ConfirmedRootBranch.java
  qual/src/main/java/com/virtuslab/qual/gitmachete/frontend/graph/api/elements/ConfirmedGraphEdge.java
  qual/src/main/java/com/virtuslab/qual/gitmachete/frontend/graph/api/elements/ConfirmedGraphNode.java
  qual/src/main/java/com/virtuslab/qual/gitmachete/frontend/graph/api/items/ConfirmedBranchItem.java
  qual/src/main/java/com/virtuslab/qual/gitmachete/frontend/graph/api/items/ConfirmedCommitItem.java
  qual/src/main/java/com/virtuslab/qual/internal/SubtypingBottom.java
  qual/src/main/java/com/virtuslab/qual/internal/SubtypingTop.java
  settings.gradle
  version.gradle
Labels: code
