Repository VirtusLab/git-machete-intellij-plugin, pull requests merged in 2020-07, with the labels that each got.

#373 Expose git log as a Stream from IGitCoreRepository
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepositoryFactory.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/unit/GitMacheteRepositoryFactory_deriveParentAwareForkPointTestSuite.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreRepository.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreRepository.java
  version.gradle
Labels: backend, code, fork-point, git-core

#377 Introduce InterningChecker + phase out RegexChecker
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/IGitMacheteCommit.java
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/SyncToRemoteStatus.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/BaseGitMacheteBranch.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/integration/GitMacheteStatusTestSuite.java
  branchLayoutImpl/src/main/java/com/virtuslab/branchlayout/impl/BranchLayoutEntry.java
  build.gradle
  config/checkstyle/checkstyle.xml
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseRebaseBranchOntoParentAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/HelpAction.java
  frontendGraphImpl/src/main/java/com/virtuslab/gitmachete/frontend/graph/impl/items/BaseGraphItem.java
  frontendGraphImpl/src/main/java/com/virtuslab/gitmachete/frontend/graph/impl/repository/RepositoryGraphCache.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreBranch.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreCommit.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreCommitHash.java
  version.gradle
Labels: build, code

#381 Fix ASCII-printing of repository in tests in case the last child of any branch has a child itself
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/integration/GitMacheteStatusTestSuite.java
  testCommon/src/test/resources/setup-with-no-remotes.sh
  version.gradle
Labels: backend, bug, testing

#382 Rework branchLayoutApi/Impl to facilitate different layout implementations
  README.md
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/integration/GitMacheteStatusTestSuite.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/integration/GitMacheteUpstreamInferenceTestSuite.java
  branchLayoutApi/src/main/java/com/virtuslab/branchlayout/api/BranchLayout.java
  branchLayoutApi/src/main/java/com/virtuslab/branchlayout/api/IBranchLayoutEntry.java
  branchLayoutApi/src/main/java/com/virtuslab/branchlayout/api/manager/IBranchLayoutWriter.java
  branchLayoutApi/src/main/java/com/virtuslab/branchlayout/api/readwrite/IBranchLayoutReader.java
  branchLayoutApi/src/main/java/com/virtuslab/branchlayout/api/readwrite/IBranchLayoutWriter.java
  branchLayoutImpl/src/main/java/com/virtuslab/branchlayout/impl/BranchLayout.java
  branchLayoutImpl/src/main/java/com/virtuslab/branchlayout/impl/BranchLayoutEntry.java
  branchLayoutImpl/src/main/java/com/virtuslab/branchlayout/impl/readwrite/BranchLayoutFileReader.java
  branchLayoutImpl/src/main/java/com/virtuslab/branchlayout/impl/readwrite/BranchLayoutFileUtils.java
  branchLayoutImpl/src/main/java/com/virtuslab/branchlayout/impl/readwrite/BranchLayoutFileWriter.java
  branchLayoutImpl/src/main/java/com/virtuslab/branchlayout/impl/readwrite/IndentSpec.java
  branchLayoutImpl/src/test/java/com/virtuslab/branchlayout/unit/BranchLayoutFileReaderTestSuite.java
  branchLayoutImpl/src/test/java/com/virtuslab/branchlayout/unit/BranchLayoutTestSuite.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSlideOutBranchAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/expectedkeys/IExpectsKeyProject.java
  frontendProviderServices/src/main/java/com/virtuslab/gitmachete/frontend/ui/providerservice/BranchLayoutWriterProvider.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/GitMacheteGraphTable.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/GitMacheteRepositoryUpdateBackgroundable.java
  version.gradle
Labels: branch-layout, code

#396 Improve UI tests
  .circleci/config.yml
  frontendUiApi/src/main/java/com/virtuslab/gitmachete/frontend/ui/api/table/BaseGraphTable.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/GitMacheteGraphTable.java
  scripts/run-ui-tests
  uiTests/src/test/java/com/virtuslab/gitmachete/uitest/UiTestSuite.java
  uiTests/src/test/resources/scenarios-and-utils.rhino.js
  version.gradle
Labels: frontend-actions, testing

#399 Automatically derive pre-release suffix as the number of commits since the latest tag
  .circleci/config.yml
  CONTRIBUTING.md
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  scripts/enforce-newline-at-eof
  scripts/enforce-pre-release-version-correct-use
  scripts/enforce-version-bump
  scripts/git-hooks/machete-pre-rebase
  scripts/run-pre-build-checks
  scripts/utils.sh
  scripts/verify-artifact-contents
  version.gradle
Labels: build

#400 Rectify test repo setup scripts + add fake commit/reflog entry date setup
  scripts/setup-multiroot-sandbox
  testCommon/src/test/resources/common.sh
  testCommon/src/test/resources/setup-for-diverged-and-older-than.sh
  testCommon/src/test/resources/setup-for-overridden-fork-point.sh
  testCommon/src/test/resources/setup-for-yellow-edges.sh
  testCommon/src/test/resources/setup-with-multiple-remotes.sh
  testCommon/src/test/resources/setup-with-no-remotes.sh
  testCommon/src/test/resources/setup-with-single-remote.sh
Labels: discover, tech debt, testing

#406 Provide API for deriving reflog of HEAD
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreHeadSnapshot.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreRepository.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreHeadSnapshot.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreRepository.java
Labels: git-core

#409 Rework test setups so that they lead to different results under 2.14.0 vs 2.15.2 `git machete discover`
  CONTRIBUTING.md
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/integration/IntegrationTestUtils.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/integration/StatusAndDiscoverIntegrationTestSuite.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/integration/UpstreamInferenceIntegrationTestSuite.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/unit/BaseGitMacheteRepositoryUnitTestSuite.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/unit/GitMacheteRepository_deriveParentAwareForkPointUnitTestSuite.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/unit/GitMacheteRepository_deriveSyncToParentStatusUnitTestSuite.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/unit/GitMacheteRepository_deriveSyncToRemoteStatusUnitTestSuite.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/unit/UnitTestUtils.java
  scripts/git-hooks/machete-pre-rebase
  scripts/git-hooks/machete-status-branch
  scripts/run-ui-tests
  testCommon/src/test/java/com/virtuslab/gitmachete/testcommon/BaseGitRepositoryBackedIntegrationTestSuite.java
  testCommon/src/test/resources/common.sh
  testCommon/src/test/resources/setup-for-diverged-and-older-than.sh
  testCommon/src/test/resources/setup-with-multiple-remotes.sh
  testCommon/src/test/resources/setup-with-no-remotes.sh
  uiTests/src/test/java/com/virtuslab/gitmachete/uitest/UiTestSuite.java
Labels: discover, testing

#411 Use parent/child naming for branch layout instead of upstream/subentry
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  branchLayoutApi/src/main/java/com/virtuslab/branchlayout/api/BranchLayout.java
  branchLayoutApi/src/main/java/com/virtuslab/branchlayout/api/IBranchLayoutEntry.java
  branchLayoutImpl/src/main/java/com/virtuslab/branchlayout/impl/BranchLayoutEntry.java
  branchLayoutImpl/src/main/java/com/virtuslab/branchlayout/impl/readwrite/BranchLayoutFileReader.java
  branchLayoutImpl/src/main/java/com/virtuslab/branchlayout/impl/readwrite/BranchLayoutFileWriter.java
  branchLayoutImpl/src/test/java/com/virtuslab/branchlayout/unit/BranchLayoutFileReaderTestSuite.java
  branchLayoutImpl/src/test/java/com/virtuslab/branchlayout/unit/BranchLayoutTestSuite.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/ToggleListingCommitsAction.java
Labels: branch-layout, code

#415 Implement git-machete 2.15.2 compatible discover
  .circleci/config.yml
  Dockerfile
  README.md
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/integration/IntegrationTestUtils.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/integration/StatusAndDiscoverIntegrationTestSuite.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/integration/UpstreamInferenceIntegrationTestSuite.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/unit/UnitTestUtils.java
  backendImpl/src/test/resources/reference-cli-version.properties
  config/checkstyle/prohibit_java_collections.xml
  config/checkstyle/tree_walker_module_directives.xml
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreBranchSnapshot.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreCheckoutEntry.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreHeadSnapshot.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreReflogEntry.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreRepository.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/BaseGitCoreBranchSnapshot.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreCheckoutEntry.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreHeadSnapshot.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreReflogEntry.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreRepository.java
Labels: backend, discover, enhancement

#433 Reorganize UI test JS utils into Ide and Project + add Ide.awaitNoBackgroundTask()
  build.gradle
  uiTests/build.gradle
  uiTests/src/test/java/com/virtuslab/gitmachete/uitest/UiTestSuite.java
  uiTests/src/test/resources/common.rhino.js
  uiTests/src/test/resources/ide.rhino.js
  uiTests/src/test/resources/project.rhino.js
  uiTests/src/test/resources/scenarios-and-utils.rhino.js
Labels: code, testing

#446 Bugfix/reset with uncommitted
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseResetBranchToRemoteAction.java
  frontendResourceBundles/src/main/resources/GitMacheteBundle.properties
Labels: bug, frontend-actions, ux

#448 Bugfix/non project files protection
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/OpenMacheteFileAction.java
Labels: bug, frontend-actions, ux

#458 Prevent against resetting to an outdated commit of remote tracking branch
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/IGitMacheteRemoteBranch.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRemoteBranch.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseResetBranchToRemoteAction.java
  frontendGraphApi/src/main/java/com/virtuslab/gitmachete/frontend/graph/api/repository/IRepositoryGraphCache.java
  frontendGraphImpl/src/main/java/com/virtuslab/gitmachete/frontend/graph/impl/repository/RepositoryGraphBuilder.java
  frontendGraphImpl/src/main/java/com/virtuslab/gitmachete/frontend/graph/impl/repository/RepositoryGraphCache.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/GitMacheteGraphTable.java
Labels: bug, frontend-actions, minor
