Repository VirtusLab/git-machete-intellij-plugin, pull requests merged in 2020-08, with the labels that each got.

#471 Bump 2020.1.* version for compatibility checks
  .circleci/config.yml
  build.gradle
Labels: build, distribution, minor

#469 Perform minor refactors in UI test Rhino codebase
  uiTests/src/test/java/com/virtuslab/gitmachete/uitest/UiTestSuite.java
  uiTests/src/test/resources/ide.rhino.js
  uiTests/src/test/resources/project.rhino.js
Labels: testing

#466 Provide UI test for fast-forwarding parent to match a branch that lacks remote tracking config
  testCommon/src/test/resources/setup-with-single-remote.sh
  uiTests/src/test/java/com/virtuslab/gitmachete/uitest/UiTestSuite.java
  uiTests/src/test/resources/project.rhino.js
Labels: bug, frontend-actions

#476 Regenerate sample workflow GIF
  README.md
  docs/demo-workflow.gif
  docs/sample-workflow.gif
Labels: documentation

#477 Extract & improve plugin description
  DESCRIPTION.html
  build.gradle
  src/main/resources/META-INF/plugin.xml
Labels: build, documentation

#480 Backport release of v0.6.0 to develop
  CHANGE-NOTES.html
Labels: backport

#479 Create bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation, ux

#473 Bump dependencies + optimize awk invocations + apply other misc fixes
  build.gradle
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSlideInBranchBelowAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/dialogs/SlideInDialog.kt
  frontendResourceBundles/src/main/resources/GitMacheteBundle.properties
  scripts/enforce-indent-two-spaces-outside-java
  scripts/prohibit-java-lines-split-needlessly
  src/main/resources/META-INF/plugin.xml
  uiTests/build.gradle
  uiTests/src/test/java/com/virtuslab/gitmachete/uitest/UITestSuite.java
Labels: build, minor, tech debt

#481 Bump Checker to 3.6.0 + remove a couple of interning suppressions
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/IGitMacheteCommit.java
  branchLayoutApi/src/main/java/com/virtuslab/branchlayout/api/BranchLayout.java
  build.gradle
  frontendGraphImpl/src/main/java/com/virtuslab/gitmachete/frontend/graph/impl/repository/RepositoryGraphCache.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreBranchSnapshot.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreCommit.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreCommitHash.java
Labels: code, minor

#483 Reduce flakiness of UITestSuite#awaitIdle implementation
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSlideInBranchBelowAction.java
  frontendVfsUtils/src/main/java/com/virtuslab/gitmachete/frontend/vfsutils/GitVfsUtils.java
  uiTests/src/test/java/com/virtuslab/gitmachete/uitest/UITestSuite.java
Labels: bug, testing

#494 Avoid opening subshells in test repository setup scripts
  testCommon/src/test/resources/setup-for-diverged-and-older-than.sh
  testCommon/src/test/resources/setup-for-overridden-fork-point.sh
  testCommon/src/test/resources/setup-for-yellow-edges.sh
  testCommon/src/test/resources/setup-with-multiple-remotes.sh
  testCommon/src/test/resources/setup-with-no-remotes.sh
  testCommon/src/test/resources/setup-with-single-remote.sh
Labels: bug, testing

#512 Ambiguous branch selection fix
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/EnhancedGraphTable.java
Labels: frontend-actions, ux

#513 Require `MessageFormat.format` params to be non-null Strings (instead of any nullable objects)
  config/checkstyle/tree_walker_module_directives.xml
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/FetchBackgroundable.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/SlideInBackgroundable.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseRebaseBranchOntoParentAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseResetBranchToRemoteAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSlideInBranchBelowAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSlideOutBranchAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/ISyncToParentStatusDependentAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/ISyncToRemoteStatusDependentAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/common/ActionUtils.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/contextmenu/CheckoutSelectedBranchAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/dialogs/OverrideForkPointDialog.kt
  frontendFile/src/main/java/com/virtuslab/gitmachete/frontend/file/highlighting/MacheteAnnotator.java
  frontendResourceBundles/src/main/java/com/virtuslab/gitmachete/frontend/resourcebundles/GitMacheteBundle.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/cell/BranchOrCommitCellRendererComponent.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/EnhancedGraphTable.java
Labels: code, frontend-actions

#519 Consider reflogs of remote tracking branches in layout discovery as well
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/IBranchReference.java
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/IForkPointCommitOfManagedBranch.java
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/IGitMacheteRepository.java
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/ILocalBranchReference.java
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/IManagedBranchSnapshot.java
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/IRemoteBranchReference.java
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/IRemoteTrackingBranchReference.java
  backendImpl/build.gradle
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/BaseBranchReference.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/BaseManagedBranchSnapshot.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/ForkPointCommitOfManagedBranch.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/LocalBranchReference.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/NonRootManagedBranchSnapshot.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/RemoteBranchReference.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/RemoteTrackingBranchReference.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/RootManagedBranchSnapshot.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/integration/ParentInferenceIntegrationTestSuite.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/integration/StatusAndDiscoverIntegrationTestSuite.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/unit/UnitTestUtils.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/PullCurrentBranchFastForwardOnlyBackgroundable.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BasePullBranchFastForwardOnlyAction.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/cell/BranchOrCommitCellRendererComponent.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/DemoGitMacheteRepositorySnapshot.java
  qual/src/main/java/com/virtuslab/qual/gitmachete/backend/api/ConfirmedLocal.java
  qual/src/main/java/com/virtuslab/qual/gitmachete/backend/api/ConfirmedRemote.java
  qual/src/main/java/com/virtuslab/qual/internal/SubtypingBottom.java
Labels: backend, bug, discover

#522 Construct refspecs by a dedicated helper method rather than manually
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/PullCurrentBranchFastForwardOnlyBackgroundable.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseFastForwardParentToMatchBranchAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BasePullBranchFastForwardOnlyAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSlideInBranchBelowAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/common/ActionUtils.java
Labels: code, frontend-actions

#525 Correctly skip non-existent root branches from the layout (and not only non-roots)
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  scripts/run-ui-tests
  uiTests/src/test/java/com/virtuslab/gitmachete/uitest/UITestSuite.java
Labels: backend, bug

#535 Automatically save machete file before refreshing status
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseRebaseBranchOntoParentAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/contextmenu/CheckoutSelectedBranchAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/graphtable/DiscoverAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/FetchAllRemotesAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/RefreshStatusAction.java
Labels: bug, frontend-actions, frontend-editor, minor

#544 Backport release of v0.7.0 to develop
  CHANGE-NOTES.html
Labels: backport

#532 Branch name completion and syntax annotation when indexing
  frontendFile/src/main/java/com/virtuslab/gitmachete/frontend/file/MacheteCompletionContributor.java
  frontendFile/src/main/java/com/virtuslab/gitmachete/frontend/file/highlighting/MacheteAnnotator.java
Labels: bug, frontend-editor, ux

#540 Create and insert new Git Machete logo
  README.md
  docs/logo.svg
Labels: distribution, documentation
