Repository VirtusLab/git-machete-intellij-plugin, pull requests merged in 2020-05, with the labels that each got.

#248 Simplify access to merge/rebase param for the given branch
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/BaseGitMacheteNonRootBranch.java
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/IGitMacheteRepository.java
  backendApi/src/main/java/com/virtuslab/gitmachete/backend/api/NullRepository.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteNonRootBranch.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/BaseRebaseBranchOntoParentAction.java
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/CheckOutBranchAction.java
  version.gradle
Labels: backend, tech debt

#249 Extract user-facing strings from plugin.xml to a resource bundle
  frontendActions/src/main/resources/actions/ResourceBundle.properties
  src/main/resources/META-INF/plugin.xml
  version.gradle
Labels: code, frontend-actions

#282 Fix/core pointed commit
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/GitCoreNoSuchBranchException.java
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/GitCoreNoSuchRevisionException.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreBranch.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreCommit.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreLocalBranch.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreRepository.java
  version.gradle
Labels: bug, git-core

#279 Publish plugin on master builds
  .circleci/config.yml
  CONTRIBUTING.md
  build.gradle
  src/main/resources/META-INF/plugin.xml
  version.gradle
Labels: ci, distribution
