Repository VirtusLab/git-machete-intellij-plugin, pull requests merged in 2020-10, with the labels that each got.

#599 Enforce correct internal & external links in Markdown
  .circleci/config.yml
  README.md
  docs/plugins.jetbrains.com/general_usage_instructions.html
Labels: bug, ci, documentation

#608 Set up assignee, reviewers and milestone for backport PRs
  .circleci/config.yml
Labels: ci, minor

#606 Bump Checker Framework to 3.7.0 + other dependencies
  build.gradle
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/dialogs/GitPushDialog.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/cell/BranchOrCommitCellRendererComponent.java
Labels: build, minor

#604 Hide `Slide In Branch Below Current Branch` for unmanaged branches
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSlideInBranchBelowAction.java
Labels: bug, frontend-actions, ux

#605 Fix buggy file parsing when the last line of machete file contain only whitespace(s)
  frontendFile/src/main/grammar/Machete.bnf
Labels: bug, frontend-editor, minor

#610 Cache Gradle dependencies via CI instead of Docker image
  .circleci/config.yml
  Dockerfile
  docs/development-guide.md
Labels: ci, performance

#617 Allow fast forward parent when STPS is `In sync but fork point off`
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseFastForwardParentToMatchBranchAction.java
Labels: frontend-actions, minor

#625 Backport release v0.8.0 to develop
  frontendGraphImpl/src/main/java/com/virtuslab/gitmachete/frontend/graph/impl/paint/GraphCellPainter.java
  version.gradle
Labels: backport

#632 Simplify build config for UI tests
  build.gradle
  scripts/run-ui-tests
  uiTests/build.gradle
  uiTests/src/test/scala/com/virtuslab/gitmachete/uitest/UITestSuite.scala
Labels: build, testing

#638 [docs] Update link for ui robot
  docs/development-guide.md
Labels: documentation
