Repository VirtusLab/git-machete-intellij-plugin, pull requests merged in 2021-02, with the labels that each got.

#700 Ensure slide-out (keep/delete) dialog appears also when current branch is unmanaged
  build.gradle
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSlideOutBranchAction.java
  uiTests/src/test/resources/project.rhino.js
  uiTests/src/test/scala/com/virtuslab/gitmachete/uitest/GitMacheteExtension.scala
  uiTests/src/test/scala/com/virtuslab/gitmachete/uitest/UITestSuite.scala
Labels: bug, frontend-actions

#701 Resolves #289 - Added support for git config core.hooksPath property
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepositoryCache.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/hooks/PreRebaseHookExecutor.java
  backendImpl/src/main/java/com/virtuslab/gitmachete/backend/impl/hooks/StatusBranchHookExecutor.java
  backendImpl/src/test/java/com/virtuslab/gitmachete/backend/unit/BaseGitMacheteRepositoryUnitTestSuite.java
  build.gradle
  config/checker/org.eclipse.jgit.astub
  gitCoreApi/src/main/java/com/virtuslab/gitcore/api/IGitCoreRepository.java
  gitCoreJGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreRepository.java
Labels: backend

#713 Ignore spurious, irrelevant errors happening in UI tests
  uiTests/src/test/scala/com/virtuslab/gitmachete/uitest/UITestSuite.scala
Labels: bug, testing

#708 Resolves #651 - Added tooltip for root branch as well as non-root bra…
  build.gradle
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/dialogs/GraphTableDialog.kt
  frontendActions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/DiscoverAction.java
  frontendResourceBundles/src/main/resources/GitMacheteBundle.properties
  frontendUiApi/src/main/java/com/virtuslab/gitmachete/frontend/ui/api/table/ISimpleGraphTableProvider.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/cell/BranchOrCommitCellRenderer.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/cell/BranchOrCommitCellRendererComponent.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/EnhancedGraphTable.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/SimpleGraphTable.java
  frontendUiTableImpl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/SimpleGraphTableProvider.java
  uiTests/src/test/scala/com/virtuslab/gitmachete/uitest/UITestSuite.scala
Labels: frontend-graph

#707 Bump 2020.1 EAP version
  build.gradle
Labels: distribution

#712 Remove link to CLI reference blog post
  .dockerignore
  README.md
  docs/development-guide.md
Labels: documentation
