Repository VirtusLab/git-machete-intellij-plugin, pull requests merged in 2021-03, with the labels that each got.

#715 [branch-layout] Run branch layout write in synchronized
  branchLayoutImpl/src/main/java/com/virtuslab/branchlayout/impl/readwrite/BranchLayoutFileWriter.java
Labels: branch-layout, bug

#719 Update IDE compatibility info in README (Android Studio is supported)
  README.md
  version.gradle
Labels: documentation

#720 Bump 2020.1 EAP version + refactor UI tests utils
  build.gradle
  scripts/run-pre-build-checks
  uiTests/src/test/resources/ide.rhino.js
  uiTests/src/test/resources/project.rhino.js
  uiTests/src/test/scala/com/virtuslab/gitmachete/uitest/RunningIntelliJFixtureExtension.scala
  uiTests/src/test/scala/com/virtuslab/gitmachete/uitest/UITestSuite.scala
Labels: build, testing
