Repository VirtusLab/git-machete-intellij-plugin, pull requests merged in 2022-11, with the labels that each got.

#1318 Fix too long string (closes #1198)
  CHANGE-NOTES.md
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/CheckRemoteBranchBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseFastForwardMergeToParentAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BasePullAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/common/FastForwardMerge.java
  frontend/resourcebundles/src/main/resources/GitMacheteBundle.properties
Labels: bug

#1321 Drop BranchLayoutWriterProvider.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseProjectDependentAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSlideInBelowAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSlideOutAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/common/SlideInUnmanagedBelowAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/DiscoverAction.java
  frontend/ui/api/src/main/java/com/virtuslab/gitmachete/frontend/ui/providerservice/BranchLayoutWriterProvider.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/GitMacheteRepositoryDiscoverer.java
Labels: frontend-ui, code quality

#1301 Wrap machete file IO operations in ReadAction/WriteAction
  backend/impl/src/test/java/com/virtuslab/gitmachete/backend/integration/ParentInferenceIntegrationTestSuite.java
  backend/impl/src/test/java/com/virtuslab/gitmachete/backend/integration/StatusAndDiscoverIntegrationTestSuite.java
  branchLayout/api/src/main/java/com/virtuslab/branchlayout/api/readwrite/IBranchLayoutReader.java
  branchLayout/api/src/main/java/com/virtuslab/branchlayout/api/readwrite/IBranchLayoutWriter.java
  branchLayout/api/src/main/java/com/virtuslab/branchlayout/api/readwrite/IndentSpec.java
  branchLayout/impl/build.gradle.kts
  branchLayout/impl/src/main/java/com/virtuslab/branchlayout/impl/readwrite/BranchLayoutFileUtils.java
  branchLayout/impl/src/main/java/com/virtuslab/branchlayout/impl/readwrite/BranchLayoutFileWriter.java
  branchLayout/impl/src/main/java/com/virtuslab/branchlayout/impl/readwrite/BranchLayoutReader.java
  branchLayout/impl/src/main/java/com/virtuslab/branchlayout/impl/readwrite/BranchLayoutWriter.java
  branchLayout/impl/src/test/java/com/virtuslab/branchlayout/impl/readwrite/BranchLayoutFileReaderTestSuite.java
  config/checker/com.intellij.astub
  config/checker/io.vavr.astub
  frontend/actions/build.gradle.kts
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/BaseSlideInBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/SlideOutBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/DiscoverAction.java
  frontend/base/build.gradle.kts
  frontend/base/src/main/java/com/virtuslab/gitmachete/frontend/common/WriteActionUtils.java
  frontend/file/build.gradle.kts
  frontend/file/src/main/java/com/virtuslab/gitmachete/frontend/file/MacheteFileReader.java
  frontend/file/src/main/java/com/virtuslab/gitmachete/frontend/file/MacheteFileWriter.java
  frontend/file/src/main/java/com/virtuslab/gitmachete/frontend/file/highlighting/MacheteAnnotator.java
  frontend/ui/impl/build.gradle.kts
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/RediscoverSuggester.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/EnhancedGraphTable.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/GitMacheteRepositoryDiscoverer.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/GitMacheteRepositoryUpdateBackgroundable.java
  src/test/java/com/virtuslab/archunit/ForbiddenMethodsTestSuite.java
  src/test/java/com/virtuslab/archunit/UIThreadUnsafeMethodInvocationsTestSuite.java
  src/uiTest/resources/project.rhino.js
Labels: code quality, frontend-actions

#1336 Revamp ResetInfoDialog into a more general InfoDialog
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseResetToRemoteAction.java
  frontend/actions/src/main/kotlin/com/virtuslab/gitmachete/frontend/actions/dialogs/InfoDialog.kt
Labels: code quality, frontend-actions

#1340 Ensure that `EnhancedGraphTable#trackCurrentBranchChange` is actually always executed on EDT
  config/checker/com.intellij.astub
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/EnhancedGraphTable.java
Labels: bug, frontend-ui

#1344 Fix wrong rebase backgroundable title (closes #1342)
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSyncToParentByRebaseAction.java
  frontend/resourcebundles/src/main/resources/GitMacheteBundle.properties
Labels: bug, minor, frontend-actions

#1345 Remove the dependency of `frontend:ui:impl` on `frontend:actions`
  frontend/ui/impl/build.gradle.kts
Labels: build, performance

#1347 Bump ide-probe to v0.50.0 + restore `probe.resolvers.intellij.repositories` config
  gradle/libs.versions.toml
  src/uiTest/resources/ideprobe.conf
Labels: testing

#1346 Rename Providers into Services
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseProjectDependentAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/DiscoverAction.java
  frontend/ui/api/src/main/java/com/virtuslab/gitmachete/frontend/ui/services/GraphTableService.java
  frontend/ui/api/src/main/java/com/virtuslab/gitmachete/frontend/ui/services/SelectedGitRepositoryService.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/root/GitMachetePanel.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/EnhancedGraphTable.java
  src/uiTest/resources/project.rhino.js
Labels: code quality

#1350 Prevent NPE in 'SlideOutBackgroundable'
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/SlideOutBackgroundable.java
Labels: bug

#1325 Replace unnecessary Try.of with try ... catch
  backend/impl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepositoryCache.java
  backend/impl/src/main/java/com/virtuslab/gitmachete/backend/impl/hooks/StatusBranchHookExecutor.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/RebaseOnParentBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/DiscoverAction.java
  frontend/base/src/main/java/com/virtuslab/gitmachete/frontend/vfsutils/GitVfsUtils.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/RediscoverSuggester.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/GitMacheteRepositoryDiscoverer.java
  gitCore/api/src/main/java/com/virtuslab/gitcore/api/IGitCoreBranchSnapshot.java
  gitCore/jGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreRepository.java
Labels: code quality

#1357 Attach unsigned zip to the GitHub release
  .circleci/config.yml
  CHANGE-NOTES.md
  version.gradle.kts
Labels: bug, build

#1362 Fix `printSignedPluginZipPath` Gradle task
  .circleci/config.yml
  build.gradle.kts
Labels: bug, build

#1363 Refactor and simplify GitPushDialog
  CHANGE-NOTES.md
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/dialogs/GitPushDialog.java
Labels: code quality, frontend-actions

#1364 On macOS, crash the scripts instantly in case of Perl regexp support missing from grep
  CONTRIBUTING.md
  scripts/prohibit-direct-merges-to-master
  scripts/utils.sh
  scripts/validate-markdown-links
Labels: documentation, mac os
