Repository VirtusLab/git-machete-intellij-plugin, pull requests merged in 2022-05, with the labels that each got.

#829 Fix machete-pre-rebase hook on Mac OS (declare -g -> eval)
  scripts/utils.sh
Labels: bug, mac os

#831 Improvement/increase max workers
  .circleci/config.yml
Labels: build, ci

#835 Inform user about not supported java version
  build.gradle
Labels: build

#834 Make ide-probe reuse IntelliJs downloaded by intellij-plugin-verifier
  CONTRIBUTING.md
  build.gradle
  intellijVersions.properties
  scripts/verify-artifact-contents
  src/uiTest/resources/UITestSuite.conf
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/UITestSuite.scala
Labels: build, performance, testing

#846 Repair wrong REBASING label displaying after checkout
  backend/api/src/main/java/com/virtuslab/gitmachete/backend/api/IGitMacheteRepositorySnapshot.java
  backend/api/src/main/java/com/virtuslab/gitmachete/backend/api/NullGitMacheteRepositorySnapshot.java
  backend/impl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepository.java
  backend/impl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepositorySnapshot.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/cell/BranchOrCommitCellRendererComponent.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/DemoGitMacheteRepositorySnapshot.java
  gitCore/api/src/main/java/com/virtuslab/gitcore/api/IGitCoreRepository.java
  gitCore/jGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreRepository.java
Labels: bug, frontend-graph

#860 Repair updateEapBuildNumber task
  build.gradle
Labels: bug, distribution
