Repository VirtusLab/git-machete-intellij-plugin, pull requests merged in 2022-06, with the labels that each got.

#878 Add scheduled job - check for new eap
  .circleci/config.yml
  build.gradle
Labels: build, ci

#895 Add additional validation for format method parameters
  frontend/base/src/main/java/com/virtuslab/gitmachete/frontend/resourcebundles/GitMacheteBundle.java
Labels: testing, code quality

#903 Use `global` context in UI tests to avoid evaluating the entire Rhino codebase with every request
  build.gradle
  src/uiTest/resources/common.rhino.js
  src/uiTest/resources/ide.rhino.js
  src/uiTest/resources/project.rhino.js
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/RunningIntelliJFixtureExtension.scala
Labels: testing, code quality

#886 Rename rebase and merge action classes
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSyncToParentByMergeAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSyncToParentByRebaseAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/contextmenu/SyncSelectedToParentByMergeAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/contextmenu/SyncSelectedToParentByRebaseAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/SyncCurrentToParentByMergeAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/SyncCurrentToParentByRebaseAction.java
  frontend/base/src/main/resources/GitMacheteBundle.properties
  src/main/resources/META-INF/plugin.xml
  src/uiTest/resources/project.rhino.js
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/RunningIntelliJFixtureExtension.scala
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/UITestSuite.scala
Labels: code quality, frontend-actions

#917 Exclude Kotlin libraries from the plugin zip
  .circleci/config.yml
  build.gradle
  config/checker/git4idea.astub
  frontend/actions/src/main/kotlin/com/virtuslab/gitmachete/frontend/actions/dialogs/OverrideForkPointDialog.kt
  frontend/actions/src/main/kotlin/com/virtuslab/gitmachete/frontend/actions/dialogs/SlideInDialog.kt
  gradle.properties
  scripts/verify-artifact-contents
  version.gradle
Labels: build

#918 Set up autoformatter (scalafmt via spotless) for Scala code
  build.gradle
  scalafmt.conf
  src/uiTest/resources/project.rhino.js
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/RunningIntelliJFixtureExtension.scala
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/UIScenarioSuite.scala
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/UISuite.scala
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/UITestSuite.scala
Labels: build, code quality

#924 Suppress annoying stack traces from Netty in UI tests + simplify version-bump check
  scripts/enforce-version-bump
  src/uiTest/resources/UIScenarioSuite.conf
  src/uiTest/resources/UITestSuite.conf
  src/uiTest/resources/ideprobe.conf
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/RunningIntelliJPerSuite.scala
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/UISuite.scala
  version.gradle
Labels: testing

#922 Add ability to take a screenshot when exception in UITests is throw
  .circleci/config.yml
  Dockerfile
  build.gradle
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/UITestSuite.scala
Labels: testing

#939 Add extra diagnostics in UI tests
  CHANGE-NOTES.html
  build.gradle
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/RunningIntelliJFixtureExtension.scala
  version.gradle
Labels: testing

#946 Resolve Gradle caching issues (overlapping output directories for `generateMacheteParser` and `generateMacheteLexer`)
  .circleci/config.yml
  backend/impl/build.gradle
  build.gradle
  frontend/file/build.gradle
Labels: bug, build

#949 Apply small fixes to CI and Scala config
  .circleci/config.yml
  build.gradle
  gradle/libs.versions.toml
  scripts/run-pre-build-checks
Labels: build, ci
