Repository VirtusLab/git-machete-intellij-plugin, pull requests merged in 2023-04, with the labels that each got.

#1636 Extract all our custom git config keys to a single class (closes #1499)
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/OverrideForkPointBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/common/SlideOut.java
  frontend/actions/src/main/kotlin/com/virtuslab/gitmachete/frontend/actions/dialogs/DeleteBranchOnSlideOutSuggestionDialog.kt
  frontend/base/src/main/java/com/virtuslab/gitmachete/frontend/defs/GitConfigKeys.java
Labels: code quality

#1640 Accept a callback in `SlideOut#slideOutBranch` - to be executed asyncly after post-slide-out hook is complete
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/common/SlideOut.java
Labels: code quality, frontend-actions

#1643 Test handling of failures in `machete-status-branch` hook
  backend/impl/src/test/resources/setup-for-diverged-and-older-than.sh-discover.txt
  backend/impl/src/test/resources/setup-for-diverged-and-older-than.sh-status.txt
  backend/impl/src/test/resources/setup-for-yellow-edges.sh-discover.txt
  backend/impl/src/test/resources/setup-for-yellow-edges.sh-status.txt
  backend/impl/src/test/resources/setup-with-multiple-remotes.sh-discover.txt
  backend/impl/src/test/resources/setup-with-multiple-remotes.sh-status.txt
  backend/impl/src/test/resources/setup-with-single-remote.sh-discover.txt
  backend/impl/src/test/resources/setup-with-single-remote.sh-status.txt
  backend/impl/src/test/resources/version.txt
  src/main/resources/META-INF/plugin.xml
  testCommon/src/testFixtures/resources/common.sh
Labels: backend, minor, testing
