Repository VirtusLab/git-machete-intellij-plugin, pull requests merged in 2023-02, with the labels that each got.

#1510 Remove unused annotation imports in Checker stubs
  config/checker/com.intellij.astub
  scripts/enforce-astub-explicit-annotation-import
Labels: minor, code quality

#1516 Accumulate failures in `scripts/run-pre-build-checks` instead of failing fast
  CHANGE-NOTES.md
  scripts/run-pre-build-checks
  version.gradle.kts
Labels: build, ci, minor

#1520 Ban `@UIThreadUnsafe` methods overridding non-`@UIThreadUnsafe` methods
  build.gradle.kts
  src/test/java/com/virtuslab/archunit/UIThreadUnsafeMethodInvocationsTestSuite.java
Labels: code quality

#1524 Use dependency helper functions consistently
  branchLayout/impl/build.gradle.kts
  build.gradle.kts
  buildSrc/src/main/kotlin/com/virtuslab/gitmachete/buildsrc/CheckerFramework.kt
  buildSrc/src/main/kotlin/com/virtuslab/gitmachete/buildsrc/Dependencies.kt
  buildSrc/src/main/kotlin/com/virtuslab/gitmachete/buildsrc/IntellijVersions.kt
  scripts/verify-artifact-contents
  testCommon/build.gradle.kts
Labels: build, code quality

#1532 Extract `call...MethodsThat` helpers for ArchUnit tests
  branchLayout/impl/src/main/java/com/virtuslab/branchlayout/impl/readwrite/BranchLayoutWriter.java
  src/test/java/com/virtuslab/archunit/BackgroundTaskEnqueuingTestSuite.java
  src/test/java/com/virtuslab/archunit/BaseArchUnitTestSuite.java
  src/test/java/com/virtuslab/archunit/ForbiddenClassesTestSuite.java
  src/test/java/com/virtuslab/archunit/MethodCallsTestSuite.java
  src/test/java/com/virtuslab/archunit/UIThreadUnsafeMethodInvocationsTestSuite.java
Labels: testing, code quality

#1533 Add `org.eclipse.jgit` to UI thread unsafe package prefixes
  backend/api/src/main/java/com/virtuslab/gitmachete/backend/api/IGitMacheteRepositoryCache.java
  backend/impl/src/main/java/com/virtuslab/gitmachete/backend/impl/GitMacheteRepositoryCache.java
  backend/impl/src/main/java/com/virtuslab/gitmachete/backend/impl/hooks/PreRebaseHookExecutor.java
  backend/impl/src/main/java/com/virtuslab/gitmachete/backend/impl/hooks/StatusBranchHookExecutor.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSlideInBelowAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/DiscoverAction.java
  gitCore/api/src/main/java/com/virtuslab/gitcore/api/IGitCoreRepository.java
  gitCore/jGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreRepository.java
  src/test/java/com/virtuslab/archunit/UIThreadUnsafeMethodInvocationsTestSuite.java
Labels: performance, testing, code quality, git-core

#1534 Fix `checkForUpdates` CI job on missing `build/dependencyUpdates/report.json`
  .circleci/config.yml
Labels: bug, build, ci

#1528 Make git submodules with directory mapping searchable (closes #1527)
  CHANGE-NOTES.md
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/gitrepositoryselection/GitRepositoryComboBox.java
Labels: feature, frontend-ui, externally requested

#1539 Update README and CONTRIBUTING: macOS Ventura `Settings` rename + when to `regenerateCliOutputs`
  CONTRIBUTING.md
  README.md
Labels: documentation, minor

#1544 Stop automated Gradle updates until the project buils under Gradle 8.0
  .circleci/config.yml
  CHANGE-NOTES.md
  version.gradle.kts
Labels: bug, build

#1547 Clean up sandbox repo directory in gitCore integration tests
  backend/impl/src/test/java/com/virtuslab/gitmachete/backend/integration/RegenerateCliOutputs.java
  gitCore/jGit/src/test/java/com/virtuslab/gitcore/impl/jgit/integration/GitCoreRepositoryTest.java
  testCommon/src/testFixtures/java/com/virtuslab/gitmachete/testcommon/TestGitRepository.java
Labels: testing, code quality

#1551 Get rid of `verify-no-string-interpolation-leftovers` script in favor of a (hacked) ArchUnit test
  .circleci/config.yml
  build.gradle.kts
  docker/Dockerfile
  scripts/verify-no-string-interpolation-leftovers
  src/test/java/com/virtuslab/archunit/ClassStructureTestSuite.java
Labels: testing

#1565 Fix unmanaged branch notification not showing up
  CHANGE-NOTES.md
  branchLayout/api/src/main/java/com/virtuslab/branchlayout/api/BranchLayoutException.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/EnhancedGraphTable.java
  testCommon/src/testFixtures/java/com/virtuslab/gitmachete/testcommon/TestFileUtils.java
Labels: bug, frontend-ui

#1525 Ensure no ancestor commit of parent branch is included into the branch's unique range of commits
  CHANGE-NOTES.md
  backend/impl/src/main/java/com/virtuslab/gitmachete/backend/impl/aux/CreateGitMacheteRepositoryAux.java
  backend/impl/src/test/java/com/virtuslab/gitmachete/backend/integration/StatusAndDiscoverIntegrationTestSuite.java
  backend/impl/src/test/resources/setup-with-multiple-remotes.sh-discover.txt
  backend/impl/src/test/resources/setup-with-no-remotes.sh-discover.txt
  backend/impl/src/test/resources/version.txt
  gitCore/api/src/main/java/com/virtuslab/gitcore/api/IGitCoreRepository.java
  gitCore/jGit/src/main/java/com/virtuslab/gitcore/impl/jgit/GitCoreRepository.java
  testCommon/src/testFixtures/resources/setup-with-multiple-remotes.sh
  testCommon/src/testFixtures/resources/setup-with-no-remotes.sh
Labels: backend, fork-point

#1540 Skip `canBeCancelled` param of `Task.Backgroundable` c'tor as it's `true` by default anyway
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/FetchBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/GitCommandUpdatingCurrentBranchBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/ResetCurrentToRemoteBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseResetToRemoteAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/dialogs/GitPushDialog.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/FetchAllRemotesAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/traverse/TraverseSyncToRemote.java
Labels: minor, code quality, frontend-actions

#1572 Get rid of `verify-artifact-contents` script in favor of a Gradle task
  .circleci/config.yml
  build.gradle.kts
  buildSrc/src/main/kotlin/com/virtuslab/gitmachete/buildsrc/IntellijPlugin.kt
  docker/Dockerfile
  scripts/verify-artifact-contents
Labels: build, code quality

#1548 Lock repository refresh while Slide In is running
  CHANGE-NOTES.md
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/BaseSlideInBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/SlideInNonRootBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/SlideInRootBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSlideInBelowAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/common/BranchCreationUtils.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/common/SlideInUnmanagedBelowAction.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/EnhancedGraphTable.java
Labels: bug, frontend-actions

#1557 Make traverse actually perform a pull/fetch for branches behind its remote
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseFastForwardMergeToParentAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BasePullAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSyncToParentByMergeAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/common/Pull.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/traverse/TraverseSyncToRemote.java
  frontend/resourcebundles/src/main/resources/GitMacheteBundle.properties
Labels: bug, traverse

#1558 De-async `DiscoverAction#saveDiscoveredLayout`
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/DiscoverAction.java
  frontend/resourcebundles/src/main/resources/GitMacheteBundle.properties
Labels: code quality, frontend-actions

#1559 Remove `CheckRemoteBranchBackgroundable`
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/CheckRemoteBranchBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/FastForwardMergeBackgroundable.java
  frontend/resourcebundles/src/main/resources/GitMacheteBundle.properties
Labels: code quality, frontend-actions

#1567 Unwrap `VcsNotifier` method calls from redundant `ModalityUiUtil.invokeLaterIfNeeded(...)`
  config/checker/com.intellij.astub
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/DiscoverAction.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/GitMacheteRepositoryDiscoverer.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/InferParentForUnmanagedBranchBackgroundable.java
Labels: frontend-ui, minor, code quality, frontend-actions

#1552 Trigger reparsing of the machete file on git repository changes
  CHANGE-NOTES.md
  config/checker/com.intellij.astub
  frontend/file/src/main/java/com/virtuslab/gitmachete/frontend/file/MacheteFileUtils.java
  frontend/file/src/main/java/com/virtuslab/gitmachete/frontend/file/MacheteFileViewProviderFactory.java
  frontend/file/src/main/java/com/virtuslab/gitmachete/frontend/file/ReparseMacheteFileOnGitRepositoryChange.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/EnhancedGraphTable.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/GitMacheteRepositoryUpdateBackgroundable.java
  src/main/resources/META-INF/plugin.xml
Labels: bug, frontend-editor

#1571 Apply minor fixes to UI tests (renames, remove unused code)
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/RunningIntelliJFixtureExtension.scala
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/UITestSuite.scala
Labels: testing, code quality

#1573 Rework `GitMacheteRepositoryDiscoverer` into `AutodiscoverBackgroundable`
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/backgroundables/AutodiscoverBackgroundable.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/backgroundables/GitMacheteRepositoryUpdateBackgroundable.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/backgroundables/InferParentForUnmanagedBranchBackgroundable.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/EnhancedGraphTable.java
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/table/GitMacheteRepositoryDiscoverer.java
  src/test/java/com/virtuslab/archunit/BackgroundTaskEnqueuingTestSuite.java
Labels: frontend-ui, code quality, discover

#1574 Use Lombok's `@StandardException` to fill up c'tors in exception classes
  backend/api/src/main/java/com/virtuslab/gitmachete/backend/api/GitMacheteException.java
  backend/api/src/main/java/com/virtuslab/gitmachete/backend/api/GitMacheteMissingForkPointException.java
  backend/api/src/main/java/com/virtuslab/gitmachete/backend/api/MacheteFileReaderException.java
  branchLayout/api/src/main/java/com/virtuslab/branchlayout/api/EntryDoesNotExistException.java
  branchLayout/api/src/main/java/com/virtuslab/branchlayout/api/EntryIsDescendantOfException.java
  gitCore/api/src/main/java/com/virtuslab/gitcore/api/GitCoreCannotAccessGitDirectoryException.java
  gitCore/api/src/main/java/com/virtuslab/gitcore/api/GitCoreException.java
  gitCore/api/src/main/java/com/virtuslab/gitcore/api/GitCoreNoSuchRevisionException.java
Labels: minor, code quality

#1575 Properly extract a backgroundable task to do heavy lifting in Discover action
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/toolbar/DiscoverAction.java
  frontend/resourcebundles/src/main/resources/GitMacheteBundle.properties
  frontend/ui/impl/src/main/java/com/virtuslab/gitmachete/frontend/ui/impl/backgroundables/AutodiscoverBackgroundable.java
Labels: performance, code quality, discover

#1578 Prevent slide-out in traverse from trying to delete the current branch
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/base/BaseSlideOutAction.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/common/SlideOut.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/traverse/TraverseSyncToParent.java
  src/test/java/com/virtuslab/archunit/UIThreadUnsafeMethodInvocationsTestSuite.java
Labels: bug, traverse

#1581 Deprecate `machete.overrideForkPoint.<branch>.whileDescendantOf` key
  backend/impl/src/main/java/com/virtuslab/gitmachete/backend/impl/aux/CreateGitMacheteRepositoryAux.java
  backend/impl/src/test/java/com/virtuslab/gitmachete/backend/integration/RegenerateCliOutputs.java
  backend/impl/src/test/resources/version.txt
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/OverrideForkPointBackgroundable.java
  testCommon/src/testFixtures/resources/setup-for-overridden-fork-point.sh
Labels: backend, fork-point, frontend-actions

#1588 Rename certain property keys to reflect their place of use more adequately
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/BaseSlideInBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/RebaseOnParentBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/backgroundables/RenameBackgroundable.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/common/BranchCreationUtils.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/common/Pull.java
  frontend/actions/src/main/java/com/virtuslab/gitmachete/frontend/actions/common/SlideOut.java
  frontend/file/src/main/java/com/virtuslab/gitmachete/frontend/file/highlighting/MacheteAnnotator.java
  frontend/resourcebundles/src/main/resources/GitMacheteBundle.properties
Labels: code quality

#1583 Tweak Gradle memory settings to mitigate OOMs on bincompat checks
  CONTRIBUTING.md
  gradle.properties
Labels: bug, ci

#1589 Fix spurious failures of `squashBranch` UI test
  CHANGE-NOTES.md
  src/uiTest/scala/com/virtuslab/gitmachete/uitest/UITestSuite.scala
  version.gradle.kts
Labels: testing, flakiness
